<!DOCTYPE html>
<html>

<head>
    <title>To Do Items Lists</title>
</head>

<body>
    <p>Here are a list of the tasks collected so far:</p>
    <table>
        <tr>
            <th>Email</th>
            <th>Task</th>
            <th>Priority</th>
        </tr>
        {% for task in task_list %}
        <tr>
            <td>{{ task[0] }}</td>
            <td>{{ task[1] }}</td>
            <td>{{ task[2] }}</td>
        </tr>
        {%endfor%}
    </table>
    <p>This concludes the list.</p>
</body>

</html>