<!DOCTYPE html>
<html>
    <head>
        <title>To Do Items Email Addresses</title>
    </head>
    <body>
        <p>Here are a list of the emails collected so far:</p>
        <ul>
            {% for email in email_addresses %}
            <li> {{ email }} </li>
            {% endfor %}
            {% for task in task_list %}
            <li> {{ task }} </li>
            {% endfor %}
            {% for priority in priority_list %}
            <li> {{ priority }} </li>
            {% endfor %}
        </ul>
        <p>This concludes the list.</p>
    </body>
</html>